//variable color
$color-black-0: #000000;
$color-black-1: #333333;
$color-gray-0: #9B9B9B;
$color-gray-1: #4A4A4A;
$color-gray-2: #F6F6F680;
$color-gray-3: #949494;
$color-gray-4: #BBBBBB;
$color-gray-5: #AFAFAF;
$color-gray-6: #E9E9E9;
$color-gray-7: #999999;
$color-red-0: #FA5238;
$color-red-1: #FB4226;
$color-red-3: #e9371c;
$color-green-0: #108F3E;
$color-green-1: #00AC4D;
$color-green-2: #44C020;
$color-green-3: #28a745;
$color-green-4: #06D995;
$color-orange-0: #FF6600;
$color-white-0: #FFFFFF;
$color-white-1: #dddddd;
$color-white-2: #b4b4b4;
$color-blue-1: #29303b;
$color-yellow-0: yellow;
//variable font-size
$fs-0: 12px;
$fs-1: 13px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 32px;

//variable margin
$mr-0: 5px; 
$mr-1: 8px;
$mr-2: 10px; 
$mr-3: 15px; 
$mr-4: 20px; 
$mr-5: 35px; 

//variable padding
$pd-0: 3px; 
$pd-1: 8px; 
$pd-2: 11px;
$pd-3: 15px; 
$pd-4: 20px; 
$pd-5: 25px; 
$pd-6: 30px; 
$pd-8: 60px; 
$pd-9: 125px;
$pd-10: 140px;

// variable line-height
$line-height: 1.4;

// variable font-weight
$fw-0: 400;
$fw-1: 500;
$fw-2: 600;
$fw-3: 700;
$fw-bold: bold;
$fw-normal: normal;